@@ -1,3 +1,4 @@
+<<<<<<< HEAD
 *.class
 *.pyc
 *.pyo
@@ -6,3 +7,7 @@ app/tmp/*
 app/tmp/cache/persistent/myapp_cake_core_cake_dev_es-es
 app/tmp/cache/persistent/myapp_cake_core_file_map
 app/tmp/logs/error.log
+=======
+app/tmp
+>>>>>>> origin/HEAD
+

