@charset "utf-8";
/*
Design by http://www.bluewebtemplates.com
Released for free under a Creative Commons Attribution 3.0 License
*/
body { margin:0; padding:0; width:100%; color:#7e7d7d; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html, .main { padding:0; margin:0; background-color:#dfdfdf;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
h1 { margin:0; padding:80px 0; color:#fff; font:normal 48px/1.2em Arial, Helvetica, sans-serif; text-align:center;}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h2 { font:normal 24px Arial, Helvetica, sans-serif; color:#3e3e3e; padding:8px 0; margin:8px 0;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
a { color:#2ca8b2; text-decoration:underline;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}
.content_resize, .fbg_resize, .footer_resize { margin:0 auto; padding:0 40px; width:890px;}
.fbg, .footer { padding:16px 0;}

/* header */
.header { height:158px; background:url(../img/cyanspark/header_bg.jpg) repeat-x center top;}
.header_resize { margin:0 auto; padding:0; width:970px;}

/* menu */
.menu_nav { height:45px;/* background:url(../img/cyanspark/menu.gif) repeat-x top;*/}
.menu_nav_resize { margin:0 auto; width:890px;}
.menu_nav ul { list-style:none; background:url(../img/cyanspark/menu.gif) repeat-x top;}
.menu_nav ul li { margin:0 2px; float:left;}
.menu_nav ul li a { display:block; margin:0; padding:12px 24px; color:#3e3e3e; text-decoration:none; font:bold 14px/1.5em Arial, Helvetica, sans-serif; text-transform:uppercase;}
.menu_nav ul li a:hover, .menu_nav ul li.active a { color:#fff; background:url(../img/cyanspark/menu_a.png) repeat-x top;}
.usuario {text-align: right; width:970px; margin: 5px auto; color:#3e3e3e; text-decoration:none; font:bold 1em Arial, Helvetica, sans-serif;}


/* search */
.searchform { }
#formsearch { margin:0; padding:12px 38px 0 0;}
#formsearch span { display:block; margin:6px 0; padding:0 8px 0 11px !important; padding:0 4px 0 6px; float:right; width:183px; background:#fff url(../img/cyanspark/search.gif) no-repeat top left;}
#formsearch input.editbox_search { margin:0; padding:5px 0; float:left; width:180px; height:20px; border:none; background:none; font:normal 13px/20px Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin:6px 0 0 0; padding:0; border:none; float:right;}

/* content */
.content { padding-bottom:16px;}
.content_resize { padding-right:0; padding-top:16px; width:930px; background-color:#fff;}
.content .mainbar { float:left; width:630px;}
.content .mainbar img { margin-bottom:24px; padding:4px; border:1px solid #b7b7b7; background-color:#fff;}
.content .mainbar img.fl { float:left; margin-right:12px;}
.content .mainbar .article, .content .sidebar .gadget { margin:0; padding:0 0 16px 0;}
.content .sidebar { float:right; width:276px;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li, ul.ex_menu li { margin:0; background:url(../img/cyanspark/li.gif) no-repeat 0 12px;}
ul.sb_menu li { padding:4px 0;}
ul.ex_menu li { padding:4px 32px 8px 0;}
ul.ex_menu li {text-align: justify;}
ul.sb_menu li a, ul.ex_menu li a { color:#5f5f5f; text-decoration:none;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#3a90ca; font-weight:bold;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg_resize { background-color:#fff; padding:24px 40px;}
.fbg img { padding:4px; border:1px solid #d6d6d6;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:256px;}
.fbg .c2 { padding:0 16px; width:280px;}
.fbg .c3 { padding:0 0 0 16px; width:290px;}
.fbg .c1 img { margin:4px;}
.fbg .c3 img { margin:8px 16px 16px 0; float:left;}
.fbg ul.sb_menu { width:160px;}
.fbg ul.sb_menu li { border-bottom:1px solid #fff;}
.fbg ul.sb_menu a, .fbg ul.sb_menu a:hover { color:#fff;}

/* footer */
.footer p.lf { margin:0; padding:4px 0; float:left; width:auto; line-height:1.5em;}
ul.fmenu { margin:0; padding:2px 0; list-style:none; float:right; width:auto;}
ul.fmenu li { margin:0; padding:0 4px; float:left;}
ul.fmenu li a { color:#7e7d7d; text-decoration:none; padding:2px 6px; font-weight:bold;}
ul.fmenu li a:hover, ul.fmenu li.active a { color:#2ca8b2;}
ul.fmenu li a:hover { text-decoration:underline;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}

/* placeholder */
/*::-webkit-input-placeholder  { color: red;  letter-spacing:2px;}
:-moz-placeholder { color: red;  letter-spacing:2px;}*/

/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}

